:root {
  --file: url("file.png");
  --folder: url("folder_normal.png");
  --parent: url("parent_folder.png");
  --unlock: url("folder_open.png");
  --lock: url("folder_block.png");
  --lock-cursor: not-allowed;
  --lock-link-style: none;
}

h1 {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
}

th {
  cursor: pointer;
}

td.detailsColumn {
  padding-inline-start: 2em;
  text-align: end;
  white-space: nowrap;
}

span.icon {
  padding-inline-start: 1.5em;
  text-decoration: none;
  user-select: auto;
}

.fake-link.icon {
  padding-inline-start: 1.5em;
  text-decoration: none;
  user-select: auto;
  color: #06c;
  cursor: pointer;
}

span.icon:hover {
  text-decoration: underline;
}

.fake-link.icon:hover,
.fake-link.icon:focus-visible {
  text-decoration: underline;
}

span.file {
  background: var(--file) left top no-repeat;
}

span.dir {
  background: var(--folder) left top no-repeat;
}

span.up {
  background: var(--parent) left top no-repeat;
}

span.block {
  background: var(--lock) left top no-repeat;
  cursor: var(--lock-cursor) !important;
  text-decoration: var(--lock-link-style) !important;
}

span.unblock {
  background: var(--unlock) left top no-repeat;
}

tr:has(td.is-hidden), tr.is-hidden {
  display: none;
}

html[dir="rtl"] span {
  background-position-x: right;
}

html[dir="rtl"] .icon {
  background-position-x: right;
}

#parentDirLinkBox {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#listingParsingErrorBox {
  border: 1px solid black;
  background: #fae691;
  padding: 10px;
  display: none;
}